@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

html[data-mode="dark"] {
  color-scheme: dark;
}

html:not([data-mode="dark"]) {
  color-scheme: light;
}
